<article
  class="content-wrapper flex gap-20 my-7 min-h-screen w-full px-16 mx-auto max-w-7xl"
>
  <!-- 좌측 이미지 영역 -->
  <figure id="product-gallery " class="flex flex-col gap-2 w-[60%] max-w-182">
    <div id="main-thumbnail">
      <img class="bg-merino" src="/src/assets/images/product1_0.webp" alt="" />
    </div>
    <ul id="sub-thumbnail" class="grid grid-cols-2 gap-2">
      <li>
        <img
          class="bg-merino"
          src="/src/assets/images/product1_1.webp"
          alt=""
        />
      </li>
      <li>
        <img
          class="bg-merino"
          src="/src/assets/images/product1_2.webp"
          alt=""
        />
      </li>
      <li>
        <img
          class="bg-merino"
          src="/src/assets/images/product1_3.webp"
          alt=""
        />
      </li>
      <li>
        <img
          class="bg-merino"
          src="/src/assets/images/product1_4.webp"
          alt=""
        />
      </li>
      <li>
        <img
          class="bg-merino"
          src="/src/assets/images/product1_5.webp"
          alt=""
        />
      </li>
      <li>
        <img
          class="bg-merino"
          src="/src/assets/images/product1_6.webp"
          alt=""
        />
      </li>
      <li>
        <img
          class="bg-merino"
          src="/src/assets/images/product1_7.webp"
          alt=""
        />
      </li>
    </ul>
  </figure>

  <!-- 우측 정보영역 -->
  <section
    id="product-main"
    class="flex flex-col gap-4 flex-1 max-w-120 sticky top-0 self-start"
  >
    <header class="flex flex-col gap-4">
      <!-- 뱃지 + 별점 -->
      <div id="badge-rating-wrapper" class="flex items-center justify-between">
        <strong id="badge"></strong>
        <div id="rating" class="flex items-center gap-2">
          <div id="rating-stars" class="flex">
            <img src="/src/assets/icon/star.svg" />
            <img src="/src/assets/icon/star.svg" />
            <img src="/src/assets/icon/star.svg" />
            <img src="/src/assets/icon/star.svg" />
            <img src="/src/assets/icon/star.svg" />
          </div>
          <span id="review-count" class="underline text-sm">113</span>
        </div>
      </div>

      <!-- 상품명 -->
      <h1 id="product-title" class="text-5xl font-medium leading-12">상품명</h1>

      <!-- 설명 -->
      <p id="short-description" class="text-xl leading-7 text-stone-500">
        상품 간단 설명
      </p>

      <!-- 가격 -->
      <div id="price-wrapper">
        <p
          id="product-Price"
          class="text-sm font-nomal line-through text-stone-500"
        >
          30,000
        </p>
        <div class="flex gap-2 items-center">
          <p id="product-discountRate" class="text-xl font-semibold">20%</p>
          <p id="product-discountPrice" class="text-2xl font-bold">24,000</p>
        </div>
      </div>
    </header>

    <!-- 용량 옵션 -->
    <section class="flex flex-col gap-1">
      <span id="options-title" class="text-zambezi">용량</span>
      <div id="optionsBtn" class="flex gap-2">
        <button class="px-4 py-2.5 border border-empress rounded-sm text-sm">
          30 ml
        </button>
        <button
          class="px-4 py-2.5 border border-empress rounded-sm text-sm bg-ferra text-spring-wood"
        >
          75 ml
        </button>
        <button class="px-4 py-2.5 border border-empress rounded-sm text-sm">
          150 ml
        </button>
      </div>
    </section>

    <!-- 장바구니 버튼 -->
    <div id="cart-button"></div>

    <!-- 제품 정보 -->
    <div id="product-info"></div>
  </section>
</article>
