<section class="flex flex-col w-full items-start gap-8 self-stretch my-32">
  <header class="flex flex-col items-center pb-8 gap-9 w-full">
    <h2
      class="text-5xl font-semibold leading-12 uppercase text-center break-keep"
    >
      부드러운 손, 윤기나는 손톱
    </h2>
    <p class="text-xl leading-7 text-center break-keep">
      이제 3단계 핸드 & 네일 리추얼을 경험해 보세요.
    </p>
  </header>
  <ul
    id="ritual-steps-list"
    class="flex flex-row justify-center gap-6 list-none w-full items-stretch"
  ></ul>
</section>
