<section id="best-review-section" class="flex flex-col gap-4 mt-9">
  <h2 class="text-xl leading-7">베스트리뷰</h2>
  <article class="bg-rose-white p-3">
    <header class="flex flex-col gap-4">
      <div id="rating-stars" class="flex">
        <img src="/src/assets/icon/star.svg" />
        <img src="/src/assets/icon/star.svg" />
        <img src="/src/assets/icon/star.svg" />
        <img src="/src/assets/icon/star.svg" />
        <img src="/src/assets/icon/star.svg" />
      </div>
      <h3 id="review-title" class="leading-5">리뷰제목</h3>
    </header>
    <p id="review-content" class="text-sm leading-5 my-0.5 text-zambezi">
      리뷰본문
    </p>
    <footer class="flex justify-between py-3.5">
      <span id="author" class="text-xs leading-4 tracking-[.03em]">닉네임</span>
      <a href="#reviews" class="text-xs leading-4 tracking-[.03em] underline"
        >전체 리뷰보기</a
      >
    </footer>
  </article>
</section>
