<div class="max-w-3xl">
  <div
    class="flex justify-between items-end mb-16 border-b-2 border-dark-woody pb-8"
  >
    <h4 class="text-xl font-light tracking-tight text-dark-woody">Reviews</h4>
    <div class="text-right">
      <div class="flex items-center gap-3 justify-end mb-1">
        <span class="text-3xl font-light text-dark-woody tracking-tighter"
          >4.7</span
        >
        <div
          class="flex text-ferra text-[8px]"
          id="total-stars-container"
        ></div>
      </div>
      <p class="text-[10px] text-empress uppercase tracking-[0.2em]">
        Based on 3 reviews
      </p>
    </div>
  </div>

  <div id="review-list-container" class="space-y-20"></div>
</div>
