@import "tailwindcss";

@theme {
  /* 베이지계열 */
  --color-rose-white: #fffefe;
  --color-spring-wood: #fbf9f6;
  --color-merino: #f7f2ea;
  --color-cararra: #f2e9db;
  --color-grey-94: #f6f0e7;

  /* 브라운계열 */
  --color-abbey: #484e51;
  --color-zambezi: #655558;
  --color-woody-brown: #3f2b2e;
  --color-ferra: #7f4e61;
  --color-empress: #7e7173;
  --color-tundora: #424242;
  --color-dark-woody: #2d1f21;

  /* 레드계열 */
  --color-burnt-orange: #c1440e;

  /* 그린계열 */
  --color-teal-green: #3d8b7a;

  /* 로그인 배경2(샌드컬러) */
  --color-grey-96: #f9f5f0;

  /* 필수항목,이메일 주소, 비밀번호 글자 색상 */
  --color-grey-abbey: #484e51;

  /* 로그인 input */
  --color-grey-99: #fffefa; /* 배경색 */
  --color-grey-45: #6a767b; /* 테두리 색상 */

  /* 흰색 */
  --color-white-solid: #ffffff;
}

@layer base {
  body {
    @apply bg-spring-wood;
    @apply text-woody-brown;
  }
}
