<nav class="bg-spring-wood shadow p-4 w-full h-16 sticky top-0 z-50">
  <div
    class="header-inner h-full flex items-center justify-between max-inline-360 mx-auto"
  >
    <button
      type="button"
      class="hamburger-btn cursor-pointer flex items-center leading-none"
      aria-label="메뉴 열기"
    >
      <img
        tabindex="-1"
        src="/src/assets/icon/Hamburger.svg"
        alt=""
        aria-hidden="true"
      />
    </button>
    <a href="/">
      <img
        tabindex="-1"
        src="/src/assets/logo/Loccitane.svg"
        alt="L'Occitane 홈으로"
      />
    </a>
    <ul class="flex gap-4 items-center">
      <li>
        <button
          type="button"
          id="loginBtn"
          class="cursor-pointer flex items-center leading-none"
          aria-label="로그인"
        >
          <img
            tabindex="-1"
            src="/src/assets/icon/myPage.svg"
            alt="로그인"
            class="w-6 h-6"
          />
        </button>
      </li>
      <li>
        <a href="/src/pages/wishlist/index.html" class="flex items-center"
          ><img
            tabindex="-1"
            src="/src/assets/icon/heart-empty.svg"
            alt="위시리스트"
            class="w-6 h-6"
        /></a>
      </li>
      <li>
        <a href="/src/pages/cart/index.html" class="flex items-center"
          ><img
            tabindex="-1"
            src="/src/assets/icon/cart.svg"
            alt="장바구니"
            class="w-6 h-6"
        /></a>
      </li>
    </ul>
  </div>
</nav>
