<section class="flex flex-col gap-1">
  <!-- 상품 설명 -->
  <p id="description" class="leading-5 my-6">상품 설명</p>

  <!-- 제품 정보 버튼 -->
  <div class="productInfo-wrapper flex flex-col gap-1">
    <button
      id="howToUse"
      class="flex justify-between items-center w-full px-3 py-2.5 rounded-sm leading-5 text-sm bg-merino hover:bg-cararra"
      data-type="usage"
    >
      사용 방법 <span>›</span>
    </button>
    <button
      id="ingredients"
      class="flex justify-between items-center w-full px-3 py-2.5 rounded-sm leading-5 text-sm bg-merino hover:bg-cararra"
      data-type="ingredients"
    >
      원료 <span>›</span>
    </button>
    <button
      id="productDisclosure"
      class="flex justify-between items-center w-full px-3 py-2.5 rounded-sm leading-5 text-sm bg-merino hover:bg-cararra"
      data-type="info"
    >
      상품정보 제공고시 <span>›</span>
    </button>
  </div>
</section>
