@import "tailwindcss";

@theme {
  /*detailPage*/
  /* 베이지계열 */
  --color-rose-white: #fffefe;
  --color-spring-wood: #fbf9f6;
  --color-merino: #f7f2ea;
  --color-cararra: #f2e9db;

  /* 브라운계열 */
  --color-abbey: #484e51;
  --color-zambezi: #655558;
  --color-woody-brown: #3f2b2e;
  --color-ferra: #7f4e61;
  --color-empress: #7E717;
  --color-tundora: #424242;
}

@layer base {
  body {
    @apply bg-[var(--color-spring-wood)];
    @apply text-[var(--color-woody-brown)];
  }
}
