@import "tailwindcss";

@theme {
  /* 로그인 배경1(전체배경) */
  --color--grey-99: #fffefa;

  /* 로그인 배경2(샌드컬러) */
  --color-grey-96: #f9f5f0;

  /* 로그인/회원가입 & 이메일 주소를 입력하세요 글자 색상 */
  --color-brand-woody: #3f2b2e;

  /* 필수항목,이메일 주소, 비밀번호 글자 색상 */
  --color-grey-abbey: #484e51;

  /* 로그인 input */
  --color-grey-99: #fffefa; /* 배경색 */
  --color-grey-45: #6a767b; /* 테두리 색상 */

  /* 흰색 */
  --color-white-solid: #ffffff;
}
