<footer class="w-full bg-header-footer pt-10 pb-8 border-t border-gray-200">
  <div class="max-w-[1360px] mx-auto px-10">
    <div
      class="py-6 mb-8 border-b border-gray-200 flex flex-wrap justify-between items-center gap-6 text-[12px] font-medium text-gray-600"
    >
      <div class="flex gap-6 shrink-0">
        <span class="hover:underline cursor-pointer">이용약관</span>
        <span class="hover:underline cursor-pointer font-bold text-black"
          >개인정보처리방침</span
        >
      </div>

      <img
        src="/src/assets/logo/Loccitane.svg"
        class="w-40 h-auto"
        alt="L'Occitane Logo"
      />

      <div class="flex flex-wrap gap-6">
        <span
          class="flex items-center gap-1 hover:underline cursor-pointer italic"
          >매장 찾기</span
        >
        <span class="hover:underline cursor-pointer italic"
          >록시땅 프로방스 국가/도시 변경</span
        >
      </div>
    </div>

    <div class="text-center text-[11px] text-gray-500 leading-relaxed">
      <p class="mb-4 break-words opacity-80">
        상호: 록시땅코리아 유한책임회사 | 사업자 등록 번호 : 211-87-74234(사업자
        정보 확인) | 대표자 : 안드레조셉호프만 | 주소 : 서울특별시 강남구
        테헤란로 87길 36(삼성동) 도심공항타워 21층(06164)<br />
        대표전화 : (02)2054-0500 | 대표메일 : LOCCITANE@LOCCITANE.CO.KR |
        결제관련문의 : 1588-4954 | 주문관련문의 : (02)2054-0500 | 통신판매번호 :
        2008-서울강남-0844 | 호스팅 서비스 제공 : AWS
      </p>
      <p class="font-medium tracking-[0.1em] text-gray-400 mt-2">
        L'OCCITANE EN PROVENCE © COPYRIGHT 2026
      </p>
    </div>
  </div>
</footer>
